streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4

duckdb==0.9.2
fastparquet==2024.2.0

openpyxl==3.1.5
xlrd==2.0.1

scikit-learn==1.5.2
scipy==1.14.1

plotly==5.24.1
reportlab==4.2.5
python-dateutil==2.9.0
requests==2.31.0
